<h1>All Contacts</h1>
<ol>
  <% @all_contacts.each() do |contact| %>
  <li><a href='/contact/<%= contact.id() %>'><%= contact.first_name() %> <%= contact.last_name() %></a></li>
  <% end %>
</ol>

<a href='/'>Back home</a>
